Workflow_Social_Media_Publisher.json
{
  "name": "Social media posting-2",
  "nodes": [
    {
      "parameters": {
        "person": "VmLVZfbc5Y",
        "text": "={{ $('Loop Over Items1').item.json['Post Content'] }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "Image_0",
        "additionalFields": {
          "title": "={{ $('Loop Over Items1').item.json['Post Title'] }}"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        768,
        512
      ],
      "id": "dbfb6de1-c513-415e-91c1-a28a9b9e50db",
      "name": "Create a post",
      "retryOnFail": true,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Z5bCGfncnsdSYwpd",
          "name": "LinkedIn account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fde13f2d-bb29-4716-b4b4-980fbaa1b7cb",
              "leftValue": "={{ $json['post status'] }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -784,
        384
      ],
      "id": "3a2985c3-bdef-4a9b-8cac-ddb2504560b6",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -448,
        656
      ],
      "id": "3d14293f-f7b2-40ae-9145-9e8a48ee5f12",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1104,
        384
      ],
      "id": "9a06ad23-1656-460c-922c-c78ddc3656fc",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appiG5gpAj9kTx5cm",
          "mode": "list",
          "cachedResultName": "AQARY PROPERTIES",
          "cachedResultUrl": "https://airtable.com/appiG5gpAj9kTx5cm"
        },
        "table": {
          "__rl": true,
          "value": "tbloDUMttKzTByMbS",
          "mode": "list",
          "cachedResultName": "Social Media Posts",
          "cachedResultUrl": "https://airtable.com/appiG5gpAj9kTx5cm/tbloDUMttKzTByMbS"
        },
        "filterByFormula": "{post status} = 'Approved'",
        "returnAll": false,
        "options": {
          "downloadFields": [
            "Image"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -944,
        384
      ],
      "id": "a1318933-7aa0-4370-b6a6-b2f5ba4e8fee",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "bzTtAq5McoFfNSos",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -448,
        368
      ],
      "id": "97e857d7-aea6-4021-b16a-e40fd02ec6a4",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.stringify($json.Platform) }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "a9ff0e2c-77ed-4119-a4ff-de3190824209"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c70a9e91-266b-4b12-b8bd-8e7b51f422a2",
                    "leftValue": "={{ JSON.stringify($json.Platform) }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1029436d-f9d3-4579-874a-7fd7d222d3fd",
                    "leftValue": "={{ JSON.stringify($json.Platform) }}",
                    "rightValue": "Twitter",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b584037b-217f-4512-ae1e-abb0b79ba067",
                    "leftValue": "={{ JSON.stringify($json.Platform) }}",
                    "rightValue": "LinkedIn",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LinkedIn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cfc24705-e698-44b4-b55c-d04bfb150d93",
                    "leftValue": "={{ JSON.stringify($json.Platform) }}",
                    "rightValue": "TikTok",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TikTok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c73f7bfe-ed84-47bb-bad4-8b96e95c47b7",
                    "leftValue": "={{ JSON.stringify($json.Platform) }}",
                    "rightValue": "Blog",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Blog"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        320
      ],
      "id": "bbc42662-1e20-4c32-ada1-8fc4b9152962",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "image"
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        752,
        -80
      ],
      "id": "69606820-8d34-447c-bc3c-7abba5d09247",
      "name": "Publish",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        752,
        112
      ],
      "id": "fd0ad79f-40f6-45a7-8cff-76354cfe9aac",
      "name": "Facebook Graph API",
      "disabled": true
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        768,
        288
      ],
      "id": "e0e59d3f-f74e-4a5f-a889-f94d6e18c921",
      "name": "Create Tweet",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        704
      ],
      "id": "033fcfd7-1ca2-4e39-886e-0b9db87bc64a",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        912
      ],
      "id": "363be7ca-484b-41e0-9ec0-13ceb740054f",
      "name": "HTTP Request2",
      "disabled": true
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appiG5gpAj9kTx5cm",
          "mode": "list",
          "cachedResultName": "AQARY PROPERTIES",
          "cachedResultUrl": "https://airtable.com/appiG5gpAj9kTx5cm"
        },
        "table": {
          "__rl": true,
          "value": "tbloDUMttKzTByMbS",
          "mode": "list",
          "cachedResultName": "Social Media Posts",
          "cachedResultUrl": "https://airtable.com/appiG5gpAj9kTx5cm/tbloDUMttKzTByMbS"
        },
        "id": "={{ $('Loop Over Items1').item.json.id }}",
        "options": {
          "downloadFields": [
            "Image"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        560,
        512
      ],
      "id": "cb41ddbc-8531-4dd4-951f-ae55c05a4a85",
      "name": "Get a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "bzTtAq5McoFfNSos",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        -80
      ],
      "id": "a922448b-c514-424c-9b18-98a67f5f9190",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        112
      ],
      "id": "d5db42f1-3a53-490d-aa89-7eabac546c68",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        288
      ],
      "id": "4c62f6a3-a478-438f-873e-775684bdfacd",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1104,
        336
      ],
      "id": "49141f67-d52d-4a8b-9f05-29cc34fdba89",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appiG5gpAj9kTx5cm",
          "mode": "list",
          "cachedResultName": "AQARY PROPERTIES",
          "cachedResultUrl": "https://airtable.com/appiG5gpAj9kTx5cm"
        },
        "table": {
          "__rl": true,
          "value": "tbloDUMttKzTByMbS",
          "mode": "list",
          "cachedResultName": "Social Media Posts",
          "cachedResultUrl": "https://airtable.com/appiG5gpAj9kTx5cm/tbloDUMttKzTByMbS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post status": "Posted",
            "Post Date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "Property ID": "={{ $json['Property ID'] }}"
          },
          "matchingColumns": [
            "Property ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Property ID",
              "displayName": "Property ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Post Content",
              "displayName": "Post Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Facebook",
                  "value": "Facebook"
                },
                {
                  "name": "Instagram",
                  "value": "Instagram"
                },
                {
                  "name": "Twitter",
                  "value": "Twitter"
                },
                {
                  "name": "LinkedIn",
                  "value": "LinkedIn"
                },
                {
                  "name": "TikTok",
                  "value": "TikTok"
                },
                {
                  "name": "Blog",
                  "value": "Blog"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Properties",
              "displayName": "Properties",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "post status",
              "displayName": "post status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Posted",
                  "value": "Posted"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Waiting For Approval",
                  "value": "Waiting For Approval"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post Date",
              "displayName": "Post Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Social Media Posts",
              "displayName": "Social Media Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "From field: Social Media Posts",
              "displayName": "From field: Social Media Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "post status (from Social Media Posts)",
              "displayName": "post status (from Social Media Posts)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        400
      ],
      "id": "615a3b36-63c4-4eee-8d94-6bee13329e50",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "bzTtAq5McoFfNSos",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 AQARY PUBLISHING ENGINE v1.0\n\n**Objective:**\nAutomatically publish \"Approved\" content from Airtable to live social media channels.\n\n**Process Flow:**\n1. **Trigger:** Runs every 10-30 mins to check for approvals.\n2. **Fetch:** Pulls records with status **\"Approved\"**.\n3. **Route:** Switches logic based on the `Platform` field (LinkedIn, FB, etc.).\n4. **Publish:** Sends content to the respective API.\n5. **Update:** Marks Airtable record as **\"Posted\"** to prevent duplicates.\n\n**Safety:**\n- Only processes 1 item at a time (Loop).\n- Requires manual approval in Airtable before execution.\n",
        "height": 992,
        "width": 576,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        -64
      ],
      "id": "be0449ef-1935-424a-adf1-60d2232d3852",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📥 APPROVAL QUEUE\n\n**Logic:**\n- Filters Airtable for `{post status} = 'Approved'`.\n- **Note:** Only fetches records that are ready to go live.\n- **Optimization:** Downloads 'Image' field immediately to avoid re-fetching later.\n\n**Loop:**\n- Iterates through approved posts one by one.\n- Ensures stable API calls to social platforms.\n",
        "height": 992,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        -64
      ],
      "id": "4325da5c-89a1-453c-9d14-5f8cccf0828d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🔀 PLATFORM ROUTING\n\n**Switch Node:**\n- Reads the `Platform` field from Airtable.\n- **Routes:**\n  - **LinkedIn:** -> Create Post Node\n  - **Instagram:** -> Publish Node\n  - **Facebook:** -> Graph API Node\n  - **Twitter/X:** -> Tweet Node\n\n**Scalability:**\n- Easy to add new platforms (TikTok/Blog) by adding new Switch rules.\n",
        "height": 992,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -64
      ],
      "id": "6b81118b-8b23-4b3a-b5e0-30c008b5e681",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📡 LIVE PUBLISHING\n\n**Nodes:**\n- **LinkedIn:** Posts text + image as a \"Share\".\n- **Instagram/FB:** Uses Graph API for media publishing.\n- **HTTP Requests:** Custom API calls for other platforms.\n\n**Critical Config:**\n- Ensure OAuth2 credentials are active.\n- Images must be valid public URLs (from Airtable).\n\n",
        "height": 1136,
        "width": 896,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -64
      ],
      "id": "a7fc7c88-24d3-45b3-8686-accba9da8d5a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ✅ COMPLETION MARKER\n\n**Action:**\n- Updates the original Airtable record.\n- **Status Change:** 'Approved' -> **'Posted'**.\n- **Timestamp:** Adds `Scheduled Date` = Today.\n\n**Importance:**\n- Removes the item from the \"Approved\" queue.\n- Prevents double-posting in the next schedule run.\n",
        "height": 992,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -64
      ],
      "id": "d2ca22ae-1852-4ea7-8e4c-d17720a156c5",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Create a post": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4134816d-4314-4ee2-9aee-05c471d1de61",
  "meta": {
    "instanceId": "d8d0368bb2fa5ef3159f42989710164fa0da9e4ab4fca5d38929916d1121c9dc"
  },
  "id": "AIh1m4FEGOyYkEGM",
  "tags": [
    {
      "updatedAt": "2026-01-02T15:31:43.709Z",
      "createdAt": "2026-01-02T15:31:43.709Z",
      "id": "68QKXDbO1kWhqGPV",
      "name": "Property"
    }
  ]
}